body {
  margin: 0;
  background-color: #fafafa;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.nav{
  padding: 1.5em;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.Bookstore-CMS {
  display: inline;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.filter {
  margin: 1em;
  float: right;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.filterSelect {
  padding: 0.5em;
  margin-left: 15px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.booksList {

}

.booksForm {

}